/* THIS IS THE START OF THE CARD SECTION */

.cardSection{
    width: 80%;
    margin: 3rem auto;
    text-align: center;
    .cardContainer{
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4rem;
        margin: auto;
        .card{ 
            width: 320px;
            text-align: left;
            margin: 2rem 0; 
            .imgContainer{
                margin: 0;
                padding: 0;
                height: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                img{
                    height: 100%;
                }
            }
            .content{
                h1{
                    font-size: 28px;
                    font-family: $fontNeo;
                    color: #0D4162;
                }
                p{
                    font-size: 18px;
                    line-height: 1.2;
                    font-family: $fontBoston;
                }
            }
        }
    }
   
}