@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Inter:wght@400;600;700&family=Raleway&family=Rubik&display=swap');
@font-face {
  font-family: Neogrotesk Ess Alt;
  src: url("../../assets/font/NeogroteskEssAlt-Regular.woff") format("woff");
}

@font-face {
  font-family: Boston-SemiBold;
  src: url("../../assets/font/Boston-SemiBold.woff") format("woff");
}

@font-face {
  font-family: Neogrotesk Ess Alt Bold;
  src: url("../../assets/font/NeogroteskEssAlt-Bold.woff") format("woff");
}

@font-face {
  font-family: Boston-Regular;
  src: url("../../assets/font/Boston-Regular.woff") format("woff");
}

@font-face {
  font-family: Neogrotesk Ess Alt Light;
  src: url("../../assets/font/NeogroteskEssAlt-Light.woff") format("woff");
}
@font-face {
  font-family: Boston-Bold;
  src: url("../../assets/font/Boston-Bold.woff");
}
