/* Typography classes */


//font classes
.fontNeoLight{
    font-family: $fontNeoLight;
}
.fontNeo{
    font-family: $fontNeo;
}
.fontNeoBold{
    font-family: $fontNeoBold;   
}
.fontBoston{
    font-family: $fontBoston;
}
.fontBostonSemi{
    font-family: $fontBostonSemi;
}
.fontBostonBold{
    font-family: $fontBostonBold;
}

//font Sizes
.fontSize12{
    font-size: 12px;
}
.fontSize14{
    font-size: 14px;
}
.fontSize16{
    font-size: 16px;
}
.fontSize18{
    font-size: 16px;
}
.fontSize20{
    font-size: 20px;
}
.fontSize36{
    font-size: 36px;
}