/* Variables */
$fontNeoLight: Neogrotesk Ess Alt Light;
$fontNeo: Neogrotesk Ess Alt;
$fontNeoBold: Neogrotesk Ess Alt Bold;
$fontBoston: Boston-Regular;
$fontBostonSemi: Boston-SemiBold;
$fontBostonBold: Boston-Bold;
$fontInter: 'Inter', sans-serif;

$colorPrimary: #022859;
$colorButtons: #FFE194;
$colorSecondary: #F2D229;
$colorBackground: #FFFEF8;
$colorLighter: #FDF8DF;
$colorDarker: #FEEAE1;
$colorStroke: #23022E;
$colorWhite: #fff;
$colorBlack: #000;