@import "./variables";

/* ----------------- Footer --------------------- */

footer {

    height: 100%;
    background: $background-color;
    position: relative;

    h2,
    h4 {
        color: $lighter;
    }

    p {
        color: $light;
        margin: 1rem 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        & > div {
            flex-grow: 1;
            flex-basis: 0;
            padding: 3rem .9rem;
        }



    }

    .newsletter .form-element {
        background: $dark;
        display: inline-block;

        input {
            padding: .5rem .7rem;
            border: none;
            background: transparent;
            color: $light;
            font-size: 1rem;
            width: 74%;
        }

        span {
            background: $primary-color;
            padding: .5rem .7rem;
            cursor: pointer;
        }

    }

    .instagram div > img {
        display: inline-block;
        width: 25%;
        height: 50%;
        margin: .3rem .4rem;
    }

    .follow div {

        i {
            font-size: 2rem;
            color: $light;
            padding: 0 .4rem;
        }
    }

    .rights {
        text-align: center;

        h4 {
            a {
                color: $light;
            }
        }

    }

    .move-up {
        position: absolute;
        right: 6%;
        top: 50%;

        span {
            color: $primary-color;

            &:hover {
                color: $light;
                cursor: pointer;
            }
        }
    }
}


/* ---------x------- Footer ----------x---------- */
@media only screen and (max-width: 1130px) {
    footer {
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (max-width: 750px) {

    footer {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }

        .follow {
            div {
                text-align: center;

                i {
                    font-size: 2rem;
                    color: $light;
                    padding: 0 .4rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    footer {
        .container {
            & > div {
                padding: 1rem .9rem !important;
            }
        }

        .rights {
            padding: 0 1.4rem;
            text-align: center;
        }
    }

}