$primary-color: #00383d;
$accent-color: linear-gradient(120deg, rgb(71, 130, 136) 0%, rgb(89, 143, 119) 100%);
$light: #eeeeee;
$lighter: #ffffff;
$dark: #000000;
$background-color: #0f0f0f;
$font-color: #3f4954;